@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif !important;
  color: #333333;
}

.header {
	height: auto;
	margin: 0;
	text-align: center;
  margin: 2em 2em;
}

.logo img {
	width: 11em;
	height: 100%;
}

.title {
	text-align: center;
	font-size: 1em;
	padding: 0;
  margin-bottom: 2em;
}

.content {
  position: relative;
}

.text-box {
  width: 100%;
	text-align: center;
}

.countDown {
  border-style: dotted;
  width: 17em;
  display: inline-block;
}

.text-box p {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.text-box img{
  width: 100%;
  height: 100%;
}

.form-box {
  display: absolute;
	color: white;
	background-color: #4d4d4d;
  padding: 2em;
}

.form-box h2 {
  margin-bottom: 0.5em;
	text-align: center;
}

.form-box .errorMsg {
	display: none;
	color: #333333;
	font-size: 0.8em;
	padding: 1em;
	background-color: #ffbb99;
	border-radius: 0.3125em;
}

.form-box section input {
  font-size: 1.125em;
  width: 100%;
  padding: 0.3125em;
  border-radius: 0.3125em;
}

.field {
  margin-top: 0.9375em;
}

.form-box label {
  font-size: 1em;
  margin: 0;
}

.call-btn {
	color: white;
	font-weight: bold;
	background-color: orange;
	width: 100%;
	height: 3em;
	margin-top: 1.5em !important;
}

.form-box section p {
  font-size: 0.7em;
  text-align: center;
  margin-top: 0.9375em;
}

* {box-sizing: border-box;}

@media (min-width: 991px) {
  .form-box {
    left: 6%;
    border-radius: 0.9375em;
    box-shadow: 0.3125em 0.625em 0.625em grey;
  }
}

@media (max-width: 990px) and (min-width: 768px) {
  .form-box {
    padding: 0.8em;
    left: 5%;
    width: 100%;
    border-radius: 0.9375em;
    box-shadow: 0.3125em 0.625em 0.625em grey;
  }
  .form-box label {
    font-size: 0.85em !important;
  }
  .form-box section input {
    font-size: 1.1em;
    width: 100%;
    height: 1.8em;
  }
  .call-btn {
   font-size: 1em !important;
   height: 2.2em !important;
  }
}

.social {
  text-align: center;
  margin-top: 3em;

}

.social img {
  width: 7em;
  border-radius: 50%;
  margin-top: 0.8em;
}

.social-name {
  font-weight: bold;
}


